body{
	/* background-color: lightgrey; */
	font-size: 13px;
}
a:hover{
	text-decoration: none;
}
.h-100{
	height: 100vh!important;
}
.border-on{
	border: 1px solid black;
}
.padding-off{
	padding: 0!important;
}
/*reference: https://www.w3schools.com/CSS/css3_shadows.asp*/
.shadowing{
	box-shadow:  5px 0 7px 0 rgba(0, 0, 0, 0.3);
	z-index: 998;
}
.menu-set{
	width: 200px;
	height: 100vh!important;
	background: url('../img/2.2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
	float: left !important;
	overflow: auto;
  z-index: 1;
  position: fixed;
  left: 0px;
}
@media only screen and (max-width: 576px){
  .menu-set{
    position: absolute;
    top: 50px;
  }
  .header-adm{
    background-color: #0132BB;
    width: auto;
    height: 45px; 
    color:white;
    padding: 5px 5px 0 15px;
  }
}

.padding-25{
	padding: 25px;
}

/*Moving Triangle in sidebar to the right side*/
/*got the tutorial from bootstrapious/p/bootrsap-sidebar*/
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(140px);
}

div>ul>li>ul>li>a{
  margin-left: 10px;
  color: #999999;
  display: block;
}
div>ul>li>ul>li>a:hover{
	color: white;
}

/*for styling the overflow scrollbar, */
/*i follow the tutorial fom codepen.io/devstreak/pen/dMYgeO*/
.style-overflow::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
	background-color: #282c37;
}

.style-overflow::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.style-overflow::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.5);
}
.no-padding{
  padding:0;
}
.no-margin{
  margin:0;
}
.icon-u{
	position: relative;
	display: block;
	width : 80px;
	margin-left: auto;
	margin-right: auto;
}
.icon-u>img{
	/* border-radius: 50%; */
}
.icon-u>img:after{
  content: "";
  clear: both;
  display: table;
}

.btn-expand-custom{
  width: 100vw;
  display: block;
  background-color: #844388;
}
.toogler-icon-custom{
  margin:5px auto;
  display: block;
  width:50px !important;
  height:30px !important;
  background-image: url(../img/toogler.png);
  background-size : 37px 25px;
  background-repeat: no-repeat;

}

@media only screen and (min-width: 576px){
  .container-custom{
    margin-left: 200px;
    width:auto;
    padding: 20px 20px 0;
  }
  .header-adm{
    background-color: #0132BB;
    width: auto;
    height: 45px; 
    color:white;
    padding: 5px 5px 0 15px;
    margin-left: 200px;
  }
}

.none{
  display:none;
}
.padding-data{
  padding:25px;
}

.nostyleLogout{
  text-decoration:none;
  color:white;
  float:right;
  padding-right:50px;
  font-weight: bold;
  font-size: 11px;
  padding-top: 7px;
  /* display:block;
  position:relative; */
}
.nostyleLogout:hover{
  text-decoration:none;
  color:#b49dbf;
}
.table.w-100{
  margin-left:auto;
  margin-right:auto;
}
/* .w-100{
  width:100%;
} */
.font-10{
  font-size: 10px;
}
.link-adm{
  color: white;
  font-size: 11px;
  font-weight: bold;
}
.link-adm:hover{
  color: #b49dbf;
}


.dropdown .dropdown-menu:hover {
  background-color: #1F5CE5 !important;
}