.T1{
	color: white;
}
@media (max-width:813px ){
	.T1{
		font-size: 9px;
	}	
} 
@media (max-width:653px ){
	.T1{
		display: none;
	}	
} 

.fpTable{
	width: 100% !important;
}

/* Ensure that the demo table scrolls */
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
tbody{
	color:#404040;
}

.center-vertical{
	position: relative;
	top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-layout {
	background-image: url('img/New/1.jpg');
	
	background-size:cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.w-10{
	width: 10% !important;
}
.w-15{
	width: 15% !important;
}
.w-20{
	width: 20% !important;
}
.w-45{
	width: 45% !important;
}
.w-50{
	width: 50% !important;
}
.w-60{
	width: 60% !important;
}
.w-80{
	width: 80% !important;
}
.w-85{
	width: 85% !important;
}
.w-90{
	width: 90% !important;
}
.w-100{
	width: 100% !important;
}
.h-100{
	height: 100% !important;
}
.right-line{
	border-right: 1.5px solid #fff;
}
.login-box-custom{
	background-color: rgba(255,255,255,0.3);
	padding: 7%;
	border: solid 5px rgba(255,255,255,0.5);
	border-radius: 20px;

}
.border-on{
	border: 1px solid black;
}
.btn-warna-login{
	background-color: #398e3d !important;
	border: solid 2px #398e3d !important;
	border-radius: 10px;
}
.btn-warna-login:hover{
	background-color: #37743a !important;
	border: solid 2px #37743a !important;
}
.color-purple{
	color: #682b80!important;
}
.bg-white{
	background-color: white;
	
}
.eye-login{
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
}
.margin-off{
	margin: 0 !important;
}
.padding-off{
	padding: 0 !important;
}
.bg-klik{
	background-color: #cecece;
}
.text-white{
	color: white !important;
}
.padding-t-20{
	padding-top: 20px;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap:10px;
	padding: 5px;
	justify-content: center;
	background-color: #905f93;
}
.grid-container>div{
	background-color: #6c2366;
	color: white;
	padding: 10px; 
	border-radius: 10px;
}
.grid-container2{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap:10px;
	padding: 5px;
	justify-content: space-between;
	background-color: #905f93;
}
.grid-container2>div{
	background-color: #6c2366;
	color: white;
	padding: 10px; 
	border-radius: 10px;
	text-align: center;
}
.grid-container-isi{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-gap:5px;
	padding: 15px 5px;
	/*justify-content: space-between;*/
	background-color: #f3f3f4;
}
@media(max-width: 1025px){
	.grid-container-isi{
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap:5px;
		padding: 15px 5px;
		/*justify-content: space-between;*/
		background-color: #f3f3f4;
	}
}
@media(max-width: 426px){
	.grid-container-isi{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap:5px;
		padding: 15px 5px;
		/*justify-content: space-between;*/
		background-color: #f3f3f4;
	}
}
.pengguna{
	background-color: #ef5a2a;
	color: white;
	padding: 10px; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.matkul{
	background-color: #f9a720;
	color: white;
	padding: 10px; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.dosen{
	background-color: #afb438;
	color: white;
	padding: 10px; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.mahasiswa{
	background-color: #d22d72;
	color: white;
	padding: 10px; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.jadwal{
	background-color: #752877;
	color: white;
	padding: 10px; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.krs{
	background-color: #692f90;
	color: white;
	padding: 10px; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.mutasi{
	background-color: #0f75bc;
	color: white;
	padding: 10px; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.prodi{
	background-color: #bf1e2e;
	color: white;
	padding: 10px; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.text-red{
	color: #cc0000;
}
.info-smt{
	background-color: #844388;
	height: 40px;
	width:130px;
	border-top-right-radius: 23px;
}
.info-smt>h4{
	color: white;
	display: block;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}
.isi-icon{
	width:30%;
	position: absolute;	

}
.isi-data{
	width : auto;
	vertical-align: middle;
	line-height: 100%;
	position: relative;
	padding-bottom: 10px;
	margin-left: 40%;
}
.isi-data-number{
	font-size: 20px;
}
@media(max-width: 321px){
	.isi-icon>img{
		margin-top: 10px;
	}	
}

/*@media(min-width: 1439px){
	.isi-icon>img{
		margin-top: 0px;
	}	
}*/

@media(min-width: 2559px){
	.isi-data{
		font-size: 20px;
	}
	.isi-data-number{
		font-size: 27px;
	}
	.isi-icon>img{
		margin-top: 0;
	}
}